@model Course
@{
    ViewData["Title"] = "New";
    SelectList deptlist =
                new SelectList(ViewBag.Deptitem, "Id", "Name");
    SelectList institem = new SelectList (ViewBag.Institem, "Id", "Name");
}
<h1>NewCourse</h1>
<form method="post" asp-action="New" asp-controller="Course">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>

    </div>
    <div>
        <label asp-for="degre"></label>
        <input asp-for="degre" class="form-control" />
        <span asp-validation-for="degre" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="mindegree"></label>
        <input asp-for="mindegree" class="form-control" />
        <span asp-validation-for="mindegree" class="text-danger">
        </span>
    </div>
    <div>
        <label asp-for="Dept_Id"></label>
        <select asp-items="deptlist" asp-for="Dept_Id" class="form-control">
            <option value="0">--selectDepartment--</option>

        </select>
        <span asp-validation-for="Dept_Id" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Inst_Id"></label>
        <select asp-items="institem"asp-for="Inst_Id"class="form-control">
            <option value="0">--Select Instructor</option>
        </select>
        <span asp-validation-for="Inst_Id"class="text-danger"></span>
    </div>



    <input type="submit" value="Create" class="btn btn-success" />




</form>
@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}

